<div class="panel panel-info">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        <form name="form" ng-submit="vm.login()" role="form">
            <div class="form-group">
                <label for="username">UserId</label>
                <input type="text" class="form-control" ng-model="vm.username" required />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" ng-model="vm.password" required />
            </div>

            <div class="form-actions">
                <button class="btn btn-md btn-success" type="submit">Login</button>
                <a href="#/register" class="btn btn-md btn-primary">Register as a new user</a>
            </div>
        </form>
    </div>

</div>
